    h1 {
        color: red;
        background-color: yellow;
    }
    p {
        color: blue;
        font-size: 30px;
    }

    button {
        background: red;
        border-color: black;
        font-size: 20px;
    }

    #titulo {
        color: green;
        background-color: lightgray;
    }

    .texto {
        color: purple;
        font-size: 25px;
    }